h1 {
    color: purple;
    text-align: center;
    font-family: Karumbi;
    font-size: 8em;

}
p
{
    color: purple;
    text-align: center;
    font-family: "Lohit Malayalam";
    font-size: 8em;
}

body
{
background-color: #4e555b;
}